## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns= ['EIN', 'NAME'], inplace= True)

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts for binning
application_df.groupby('APPLICATION_TYPE').count().iloc[:, 0]

APPLICATION_TYPE
T10      528
T12       27
T13       66
T14        3
T15        2
T17        1
T19     1065
T2        16
T25        3
T29        2
T3     27037
T4      1542
T5      1173
T6      1216
T7       725
T8       737
T9       156
Name: AFFILIATION, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = []
L= application_df.groupby('APPLICATION_TYPE').count().iloc[:, 0]
for x,i in L.iteritems():
  if i<cutoff:
    application_types_to_replace.append(x)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

<ipython-input-25-6c7b080b4a5d>:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for x,i in L.iteritems():

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [28]:
# You may find it helpful to look at CLASSIFICATION value counts >1
c1 = application_df['CLASSIFICATION'].value_counts()
c1[c1>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [30]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1820
classifications_to_replace = []
L= application_df.groupby('CLASSIFICATION').count().iloc[:, 0]
for x,i in L.iteritems():
  if i<cutoff:
    classifications_to_replace.append(x)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

<ipython-input-30-8b40a399d7c3>:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for x,i in L.iteritems():

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [39]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df.info()
dummies_df = pd.get_dummies(application_df,columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT'])
dummies_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [40]:
dummies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  uint8
 4   APPLICATION_TYPE_T10          34299 non-null  uint8
 5   APPLICATION_TYPE_T19          34299 non-null  uint8
 6   APPLICATION_TYPE_T3           34299 non-null  uint8
 7   APPLICATION_TYPE_T4           34299 non-null  uint8
 8   APPLICATION_TYPE_T5           34299 non-null  uint8
 9   APPLICATION_TYPE_T6           34299 non-null  uint8
 10  APPLICATION_TYPE_T7           34299 non-null  uint8
 11  APPLICATION_TYPE_T8           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C2000          34299 non-null  uint8
 21  CLASSIFICATION_C2100          34299 non-null  uint8
 22  CLASSIFICATION_C3000          34299 non-null  uint8
 23  CLASSIFICATION_Other          34299 non-null  uint8
 24  USE_CASE_CommunityServ        34299 non-null  uint8
 25  USE_CASE_Heathcare            34299 non-null  uint8
 26  USE_CASE_Other                34299 non-null  uint8
 27  USE_CASE_Preservation         34299 non-null  uint8
 28  USE_CASE_ProductDev           34299 non-null  uint8
 29  ORGANIZATION_Association      34299 non-null  uint8
 30  ORGANIZATION_Co-operative     34299 non-null  uint8
 31  ORGANIZATION_Corporation      34299 non-null  uint8
 32  ORGANIZATION_Trust            34299 non-null  uint8
 33  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 34  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
 35  INCOME_AMT_0                  34299 non-null  uint8
 36  INCOME_AMT_1-9999             34299 non-null  uint8
 37  INCOME_AMT_10000-24999        34299 non-null  uint8
 38  INCOME_AMT_100000-499999      34299 non-null  uint8
 39  INCOME_AMT_10M-50M            34299 non-null  uint8
 40  INCOME_AMT_1M-5M              34299 non-null  uint8
 41  INCOME_AMT_25000-99999        34299 non-null  uint8
 42  INCOME_AMT_50M+               34299 non-null  uint8
 43  INCOME_AMT_5M-10M             34299 non-null  uint8
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

In [42]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
X = dummies_df.drop(columns=['IS_SUCCESSFUL'])
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [50]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = 43
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 352

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [51]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [56]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints",exist_ok=True)
checkpoint_path = "checkpoints/Del_2_E{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every 5th epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    save_freq=804*5,
    save_weights_only=True,
    verbose=0)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback])

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7348
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7339
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7347
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7343
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7332
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7344
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7343
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7345
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7354
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7333
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7349
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7343
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7349
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7348
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7349
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7354
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7344
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7341
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7350
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7345
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 28/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5447 - accuracy: 0.7347
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7349
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7348
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7347
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5450 - accuracy: 0.7343
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7342
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7347
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5446 - accuracy: 0.7343
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7349
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7346
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7353
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7347
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5442 - accuracy: 0.7354
Epoch 47/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5441 - accuracy: 0.7357
Epoch 48/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7361
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7349

In [57]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5525 - accuracy: 0.7252 - 510ms/epoch - 2ms/step
Loss: 0.5524542927742004, Accuracy: 0.7252478003501892

In [58]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(